<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sapSoapRfc" type="SharpSapRfc.Soap.Configuration.SapSoapRfcConfigurationSection, SharpSapRfc.Soap" />
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration,sapnco" />
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <sapSoapRfc>
    <destinations>
      <add name="TST-SOAP" 
           rfcUrl="http://sap-vm:8000/sap/bc/soap/rfc"
           wsdlUrl="http://sap-vm:8000/sap/bc/soap/wsdl"
           client="001" 
           user="rfc_super" 
           password="rfcsuper1"
           timeout="5000"/>
      
      <add name="TST_DENY_ACCESS-SOAP"
           rfcUrl="http://sap-vm:8000/sap/bc/soap/rfc"
           wsdlUrl="http://sap-vm:8000/sap/bc/soap/wsdl"
           client="001"
           user="rfc_deny"
           password="rfcdeny1"
           timeout="5000"/>

      <add name="TST_WRONG_CREDENTIALS-SOAP"
           rfcUrl="http://sap-vm:8000/sap/bc/soap/rfc"
           wsdlUrl="http://sap-vm:8000/sap/bc/soap/wsdl"
           client="001"
           user="rfc_deny"
           password="rfcdeny2"
           timeout="5000"/>
    </destinations>    
  </sapSoapRfc>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations >
          <add NAME="TST" USER="rfc_super" PASSWD="rfcsuper1" CLIENT="001"
             LANG="EN" ASHOST="sap-vm" SYSNR="00" />
          <add NAME="TST_DENY_ACCESS" USER="rfc_deny" PASSWD="rfcdeny1" CLIENT="001"
             LANG="EN" ASHOST="sap-vm" SYSNR="00" />
          <add NAME="TST_WRONG_CREDENTIALS" USER="rfc_deny" PASSWD="rfcdeny2" CLIENT="001"
             LANG="EN" ASHOST="sap-vm" SYSNR="00" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
</configuration>