<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sapSoapRfc" type="SharpSapRfc.Soap.Configuration.SapSoapRfcConfigurationSection, SharpSapRfc.Soap" />
    <sectionGroup name="SAP.Middleware.Connector">
      <section name="GeneralSettings" type="SAP.Middleware.Connector.RfcGeneralConfiguration,sapnco" />
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <sapSoapRfc>
    <destinations>
      <add name="TST-SOAP" 
           rfcUrl="http://sap-vm:8000/sap/bc/soap/rfc"
           wsdlUrl="http://sap-vm:8000/sap/bc/soap/wsdl"
           client="001" 
           user="bcuser" 
           password="sapadmin2"/>
    </destinations>    
  </sapSoapRfc>

  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations >
          <add NAME="TST" USER="bcuser" PASSWD="sapadmin2" CLIENT="001"
             LANG="EN" ASHOST="sap-vm" SYSNR="00" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
</configuration>